.env
node_modules/
config.json
delete.sql
discloud.config
epub.txt
roles.db
quest.txt
untitle.excalidraw
utils.js
unregister-command.js
roulettegame.js
blackjackgame.js
coinflip.js
db.js
pfp.js
daily.txt
bot.txt
gambling.txt
package-lock.json
untitled.excalidraw
.vscode/